USE [master]
GO
/****** Object:  Database [ITAssetManagement]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE DATABASE [ITAssetManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITAssetManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ITAssetManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITAssetManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ITAssetManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITAssetManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITAssetManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[AssetName] [nvarchar](200) NOT NULL,
	[Model] [nvarchar](100) NULL,
	[AssetTypeID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[PurchaseDate] [datetime2](7) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[SupplierID] [int] NULL,
	[Location] [nvarchar](200) NULL,
	[Config] [nvarchar](500) NULL,
	[QRCode] [nvarchar](100) NULL,
	[WarrantyExpr] [datetime2](7) NULL,
	[Quantity] [int] NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[DepartmentID] [int] NULL,
	[ImportDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Asset] PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetAllocation]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetAllocation](
	[AllocationID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[UserID] [int] NULL,
	[AllocatedDate] [datetime2](7) NOT NULL,
	[ReturnedDate] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_AssetAllocation] PRIMARY KEY CLUSTERED 
(
	[AllocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetType]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetType](
	[AssetTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_AssetType] PRIMARY KEY CLUSTERED 
(
	[AssetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[RecordID] [int] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryCheck]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCheck](
	[CheckID] [int] IDENTITY(1,1) NOT NULL,
	[CheckDate] [datetime2](7) NOT NULL,
	[UserID] [int] NOT NULL,
	[AssetID] [int] NOT NULL,
	[ActualStatus] [nvarchar](50) NOT NULL,
	[Discrepancy] [bit] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_InventoryCheck] PRIMARY KEY CLUSTERED 
(
	[CheckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairTicket]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairTicket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[RepairDate] [datetime2](7) NULL,
	[ReplacedAssetID] [int] NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[UserID] [int] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[DepartmentID] [int] NULL,
	[ReporterName] [nvarchar](max) NULL,
	[ReporterPosition] [nvarchar](max) NULL,
	[Solution] [nvarchar](max) NULL,
	[DinhKemUrl] [nvarchar](max) NULL,
	[LoaiFile] [nvarchar](max) NULL,
 CONSTRAINT [PK_RepairTicket] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairTicketDetail]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairTicketDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[AssetID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RepairTicketDetail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[Contact] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[DepartmentID] [int] NULL,
	[MustChangePassword] [bit] NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseTransaction]    Script Date: 2/9/2026 4:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseTransaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[AssetID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[DepartmentID] [int] NULL,
	[UserID] [int] NULL,
	[Note] [nvarchar](500) NULL,
	[ReferenceNo] [nvarchar](100) NULL,
 CONSTRAINT [PK_WarehouseTransaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251223033755_InitialCreate', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260106040919_UpdateUserIDNullable', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260112072205_UpdateAuditLogTable', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Asset] ON 

INSERT [dbo].[Asset] ([AssetID], [AssetName], [Model], [AssetTypeID], [Status], [CreatedDate], [PurchaseDate], [Price], [Currency], [SupplierID], [Location], [Config], [QRCode], [WarrantyExpr], [Quantity], [Unit], [DepartmentID], [ImportDate]) VALUES (4, N'Máy in Canon 2900', N'LBP 2900', 2, 0, CAST(N'2026-01-05T11:13:26.6679793' AS DateTime2), NULL, CAST(230000.00 AS Decimal(18, 2)), N'VND', 2, N'Kho CNTT 411', NULL, NULL, NULL, 1, N'Cái', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Asset] ([AssetID], [AssetName], [Model], [AssetTypeID], [Status], [CreatedDate], [PurchaseDate], [Price], [Currency], [SupplierID], [Location], [Config], [QRCode], [WarrantyExpr], [Quantity], [Unit], [DepartmentID], [ImportDate]) VALUES (5, N'Canon 6030', N'LBP 6030', 2, 2, CAST(N'2026-01-05T13:54:17.1038822' AS DateTime2), NULL, CAST(3200000.00 AS Decimal(18, 2)), N'VND', 2, N'Kho CNTT 411', NULL, NULL, NULL, 36, N'Cái', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Asset] ([AssetID], [AssetName], [Model], [AssetTypeID], [Status], [CreatedDate], [PurchaseDate], [Price], [Currency], [SupplierID], [Location], [Config], [QRCode], [WarrantyExpr], [Quantity], [Unit], [DepartmentID], [ImportDate]) VALUES (6, N' Scan HP ScanJet Pro 3000s4', N' ScanJet Pro 3000s4', 3, 2, CAST(N'2026-01-06T11:33:53.9549394' AS DateTime2), NULL, CAST(620000.00 AS Decimal(18, 2)), N'VND', 3, N'Kho CNTT 411', NULL, NULL, NULL, 17, N'Cái', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Asset] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetAllocation] ON 

INSERT [dbo].[AssetAllocation] ([AllocationID], [AssetID], [DepartmentID], [UserID], [AllocatedDate], [ReturnedDate], [Status], [Note], [Quantity]) VALUES (7, 4, 9, NULL, CAST(N'2026-01-05T11:43:44.9570000' AS DateTime2), CAST(N'2026-01-06T15:02:20.4222639' AS DateTime2), 2, N'Thu hồi: Hỏng main', 1)
INSERT [dbo].[AssetAllocation] ([AllocationID], [AssetID], [DepartmentID], [UserID], [AllocatedDate], [ReturnedDate], [Status], [Note], [Quantity]) VALUES (8, 5, 57, NULL, CAST(N'2026-01-05T13:54:36.4320000' AS DateTime2), NULL, 1, NULL, 1)
INSERT [dbo].[AssetAllocation] ([AllocationID], [AssetID], [DepartmentID], [UserID], [AllocatedDate], [ReturnedDate], [Status], [Note], [Quantity]) VALUES (13, 5, 17, NULL, CAST(N'2026-01-06T11:32:12.0740000' AS DateTime2), NULL, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[AssetAllocation] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetType] ON 

INSERT [dbo].[AssetType] ([AssetTypeID], [TypeName], [Description]) VALUES (1, N'Laptop', N'Máy tính xách tay')
INSERT [dbo].[AssetType] ([AssetTypeID], [TypeName], [Description]) VALUES (2, N'Máy in', NULL)
INSERT [dbo].[AssetType] ([AssetTypeID], [TypeName], [Description]) VALUES (3, N'Máy Scan', NULL)
SET IDENTITY_INSERT [dbo].[AssetType] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([LogID], [UserID], [Action], [TableName], [RecordID], [OldValue], [NewValue], [Timestamp], [ActionDate], [Details]) VALUES (1, 1, N'Cấp phát', N'AssetAllocation', NULL, NULL, NULL, CAST(N'2026-01-13T11:10:41.5985356' AS DateTime2), CAST(N'2026-01-13T11:10:41.5986311' AS DateTime2), N'Đã cấp phát tài sản ''Canon 6030'' cho ''Tổ xe''')
INSERT [dbo].[AuditLog] ([LogID], [UserID], [Action], [TableName], [RecordID], [OldValue], [NewValue], [Timestamp], [ActionDate], [Details]) VALUES (2, 1, N'Thu hồi', N'AssetAllocation', NULL, NULL, NULL, CAST(N'2026-01-13T11:10:52.1285217' AS DateTime2), CAST(N'2026-01-13T11:10:52.1285221' AS DateTime2), N'Đã thu hồi tài sản ''Canon 6030'' (Phiếu #22)')
INSERT [dbo].[AuditLog] ([LogID], [UserID], [Action], [TableName], [RecordID], [OldValue], [NewValue], [Timestamp], [ActionDate], [Details]) VALUES (3, 1, N'Thu hồi', N'AssetAllocation', NULL, NULL, NULL, CAST(N'2026-01-16T08:32:10.9679761' AS DateTime2), CAST(N'2026-01-16T08:32:10.9680812' AS DateTime2), N'Đã thu hồi tài sản ''Máy in Canon 2900'' (Phiếu #20)')
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DeptName], [Code], [ManagerID]) VALUES (1, N'Khoa Nội', N'KN', NULL)
INSERT [dbo].[Department] ([DepartmentID], [DeptName], [Code], [ManagerID]) VALUES (2, N'Bộ phận đấu thầu', NULL, NULL)
INSERT [dbo].[Department] ([DepartmentID], [DeptName], [Code], [ManagerID]) VALUES (3, N'Cấp cứu', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairTicket] ON 

INSERT [dbo].[RepairTicket] ([TicketID], [AssetID], [Description], [RepairDate], [ReplacedAssetID], [Cost], [Status], [UserID], [CreatedDate], [Note], [DepartmentID], [ReporterName], [ReporterPosition], [Solution], [DinhKemUrl], [LoaiFile]) VALUES (40, 6, N'Máy hư ', CAST(N'2026-01-07T16:24:05.3221579' AS DateTime2), NULL, CAST(0.00 AS Decimal(18, 2)), 2, 1, CAST(N'2026-01-06T11:34:46.0423733' AS DateTime2), N'', 6, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RepairTicket] ([TicketID], [AssetID], [Description], [RepairDate], [ReplacedAssetID], [Cost], [Status], [UserID], [CreatedDate], [Note], [DepartmentID], [ReporterName], [ReporterPosition], [Solution], [DinhKemUrl], [LoaiFile]) VALUES (41, 4, NULL, CAST(N'2026-01-14T11:39:25.1852859' AS DateTime2), NULL, CAST(0.00 AS Decimal(18, 2)), 2, 1, CAST(N'2026-01-08T11:24:54.7114848' AS DateTime2), N'', 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RepairTicket] ([TicketID], [AssetID], [Description], [RepairDate], [ReplacedAssetID], [Cost], [Status], [UserID], [CreatedDate], [Note], [DepartmentID], [ReporterName], [ReporterPosition], [Solution], [DinhKemUrl], [LoaiFile]) VALUES (43, 5, N'', CAST(N'2026-01-14T16:04:22.1482081' AS DateTime2), NULL, CAST(663000.00 AS Decimal(18, 2)), 2, 1, CAST(N'2026-01-14T11:39:34.8892477' AS DateTime2), N'', 3, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RepairTicket] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairTicketDetail] ON 

INSERT [dbo].[RepairTicketDetail] ([DetailID], [TicketID], [AssetID], [Quantity], [Price], [Note]) VALUES (1, 1044, 10, 1, CAST(43000.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[RepairTicketDetail] ([DetailID], [TicketID], [AssetID], [Quantity], [Price], [Note]) VALUES (2, 1045, 10, 1, CAST(43000.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[RepairTicketDetail] ([DetailID], [TicketID], [AssetID], [Quantity], [Price], [Note]) VALUES (3, 1046, 10, 1, CAST(43000.00 AS Decimal(18, 2)), N'')
SET IDENTITY_INSERT [dbo].[RepairTicketDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Contact], [Phone]) VALUES (1, N'FPT Trading', NULL, NULL)
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Contact], [Phone]) VALUES (2, N'Canon', NULL, NULL)
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Contact], [Phone]) VALUES (3, N'HP', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Email], [PasswordHash], [Role], [FullName], [CreatedDate], [DepartmentID], [MustChangePassword], [PhoneNumber]) VALUES (1, N'admin', N'admin@example.com', N'123456', N'Admin', N'Quản Trị Viên', CAST(N'2025-12-24T08:24:48.2733333' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[User] ([UserID], [Username], [Email], [PasswordHash], [Role], [FullName], [CreatedDate], [DepartmentID], [MustChangePassword], [PhoneNumber]) VALUES (10, N'user', N'user@benhvien.com', N'123', N'User', N'Nhân Viên Khoa', CAST(N'2025-01-15T00:00:00.0000000' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[User] ([UserID], [Username], [Email], [PasswordHash], [Role], [FullName], [CreatedDate], [DepartmentID], [MustChangePassword], [PhoneNumber]) VALUES (1011, N'maicntt', NULL, N'123', N'User', N'Nguyễn Thị Mai', CAST(N'2026-01-29T17:06:59.4575146' AS DateTime2), 9, 0, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[WarehouseTransaction] ON 

INSERT [dbo].[WarehouseTransaction] ([TransactionID], [Type], [AssetID], [Quantity], [Date], [DepartmentID], [UserID], [Note], [ReferenceNo]) VALUES (1, N'IN', 4, 1, CAST(N'2026-01-05T11:13:26.6814366' AS DateTime2), NULL, 1, N'Nhập mới tài sản', N'PN-20260105111326')
INSERT [dbo].[WarehouseTransaction] ([TransactionID], [Type], [AssetID], [Quantity], [Date], [DepartmentID], [UserID], [Note], [ReferenceNo]) VALUES (2, N'IN', 5, 48, CAST(N'2026-01-05T13:54:17.1319188' AS DateTime2), NULL, 1, N'Nhập mới tài sản', N'PN-20260105135417')
INSERT [dbo].[WarehouseTransaction] ([TransactionID], [Type], [AssetID], [Quantity], [Date], [DepartmentID], [UserID], [Note], [ReferenceNo]) VALUES (7, N'OUT', 5, 1, CAST(N'2026-01-06T11:32:12.3723419' AS DateTime2), 17, NULL, N'Cấp phát cho khoa: Giải phẫu bệnh', N'ALLOC-202601061132')
SET IDENTITY_INSERT [dbo].[WarehouseTransaction] OFF
GO
/****** Object:  Index [IX_Asset_AssetTypeID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asset_AssetTypeID] ON [dbo].[Asset]
(
	[AssetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asset_Status]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asset_Status] ON [dbo].[Asset]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asset_SupplierID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asset_SupplierID] ON [dbo].[Asset]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetAllocation_AssetID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetAllocation_AssetID] ON [dbo].[AssetAllocation]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetAllocation_DepartmentID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetAllocation_DepartmentID] ON [dbo].[AssetAllocation]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetAllocation_UserID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetAllocation_UserID] ON [dbo].[AssetAllocation]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLog_UserID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_UserID] ON [dbo].[AuditLog]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Department_ManagerID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Department_ManagerID] ON [dbo].[Department]
(
	[ManagerID] ASC
)
WHERE ([ManagerID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryCheck_AssetID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryCheck_AssetID] ON [dbo].[InventoryCheck]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryCheck_UserID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryCheck_UserID] ON [dbo].[InventoryCheck]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepairTicket_AssetID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_RepairTicket_AssetID] ON [dbo].[RepairTicket]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepairTicket_ReplacedAssetID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_RepairTicket_ReplacedAssetID] ON [dbo].[RepairTicket]
(
	[ReplacedAssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepairTicket_UserID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_RepairTicket_UserID] ON [dbo].[RepairTicket]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepairTicketDetail_AssetID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_RepairTicketDetail_AssetID] ON [dbo].[RepairTicketDetail]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepairTicketDetail_TicketID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_RepairTicketDetail_TicketID] ON [dbo].[RepairTicketDetail]
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_DepartmentID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_DepartmentID] ON [dbo].[User]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Email]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Email] ON [dbo].[User]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Username]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Username] ON [dbo].[User]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseTransaction_AssetID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseTransaction_AssetID] ON [dbo].[WarehouseTransaction]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseTransaction_DepartmentID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseTransaction_DepartmentID] ON [dbo].[WarehouseTransaction]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseTransaction_UserID]    Script Date: 2/9/2026 4:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseTransaction_UserID] ON [dbo].[WarehouseTransaction]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asset] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Asset] ADD  DEFAULT (N'Cái') FOR [Unit]
GO
ALTER TABLE [dbo].[Asset] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ImportDate]
GO
ALTER TABLE [dbo].[AssetAllocation] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ActionDate]
GO
ALTER TABLE [dbo].[InventoryCheck] ADD  DEFAULT (N'') FOR [ActualStatus]
GO
ALTER TABLE [dbo].[InventoryCheck] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Discrepancy]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (CONVERT([bit],(0))) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [FK_Asset_AssetType_AssetTypeID] FOREIGN KEY([AssetTypeID])
REFERENCES [dbo].[AssetType] ([AssetTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [FK_Asset_AssetType_AssetTypeID]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [FK_Asset_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [FK_Asset_Department]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [FK_Asset_Supplier_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [FK_Asset_Supplier_SupplierID]
GO
ALTER TABLE [dbo].[AssetAllocation]  WITH CHECK ADD  CONSTRAINT [FK_AssetAllocation_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetAllocation] CHECK CONSTRAINT [FK_AssetAllocation_Asset_AssetID]
GO
ALTER TABLE [dbo].[AssetAllocation]  WITH CHECK ADD  CONSTRAINT [FK_AssetAllocation_Department_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetAllocation] CHECK CONSTRAINT [FK_AssetAllocation_Department_DepartmentID]
GO
ALTER TABLE [dbo].[AssetAllocation]  WITH CHECK ADD  CONSTRAINT [FK_AssetAllocation_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[AssetAllocation] CHECK CONSTRAINT [FK_AssetAllocation_User_UserID]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_User_UserID]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_User_ManagerID] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_User_ManagerID]
GO
ALTER TABLE [dbo].[InventoryCheck]  WITH CHECK ADD  CONSTRAINT [FK_InventoryCheck_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryCheck] CHECK CONSTRAINT [FK_InventoryCheck_Asset_AssetID]
GO
ALTER TABLE [dbo].[InventoryCheck]  WITH CHECK ADD  CONSTRAINT [FK_InventoryCheck_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryCheck] CHECK CONSTRAINT [FK_InventoryCheck_User_UserID]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_Asset_AssetID]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_Asset_ReplacedAssetID] FOREIGN KEY([ReplacedAssetID])
REFERENCES [dbo].[Asset] ([AssetID])
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_Asset_ReplacedAssetID]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_Department_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_Department_DepartmentID]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_User_UserID]
GO
ALTER TABLE [dbo].[RepairTicketDetail]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicketDetail_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
GO
ALTER TABLE [dbo].[RepairTicketDetail] CHECK CONSTRAINT [FK_RepairTicketDetail_Asset_AssetID]
GO
ALTER TABLE [dbo].[RepairTicketDetail]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicketDetail_RepairTicket_TicketID] FOREIGN KEY([TicketID])
REFERENCES [dbo].[RepairTicket] ([TicketID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairTicketDetail] CHECK CONSTRAINT [FK_RepairTicketDetail_RepairTicket_TicketID]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Department_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Department_DepartmentID]
GO
ALTER TABLE [dbo].[WarehouseTransaction]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseTransaction_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseTransaction] CHECK CONSTRAINT [FK_WarehouseTransaction_Asset_AssetID]
GO
ALTER TABLE [dbo].[WarehouseTransaction]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseTransaction_Department_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[WarehouseTransaction] CHECK CONSTRAINT [FK_WarehouseTransaction_Department_DepartmentID]
GO
ALTER TABLE [dbo].[WarehouseTransaction]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseTransaction_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseTransaction] CHECK CONSTRAINT [FK_WarehouseTransaction_User_UserID]
GO
USE [master]
GO
