USE [master]
GO
/****** Object:  Database [ITAssetManagement]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE DATABASE [ITAssetManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITAssetManagement', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITAssetManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITAssetManagement_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITAssetManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITAssetManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITAssetManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[AssetName] [nvarchar](200) NOT NULL,
	[Serial] [nvarchar](100) NULL,
	[Model] [nvarchar](100) NULL,
	[AssetTypeID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[PurchaseDate] [datetime2](7) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[SupplierID] [int] NULL,
	[Location] [nvarchar](200) NULL,
	[Config] [nvarchar](500) NULL,
	[QRCode] [nvarchar](100) NULL,
	[WarrantyExpr] [datetime2](7) NULL,
 CONSTRAINT [PK_Asset] PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetAllocation]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetAllocation](
	[AllocationID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[UserID] [int] NULL,
	[AllocatedDate] [datetime2](7) NOT NULL,
	[ReturnedDate] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_AssetAllocation] PRIMARY KEY CLUSTERED 
(
	[AllocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetType]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetType](
	[AssetTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_AssetType] PRIMARY KEY CLUSTERED 
(
	[AssetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[RecordID] [int] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryCheck]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryCheck](
	[CheckID] [int] IDENTITY(1,1) NOT NULL,
	[CheckDate] [datetime2](7) NOT NULL,
	[UserID] [int] NOT NULL,
	[AssetID] [int] NOT NULL,
	[ActualStatus] [int] NULL,
	[Discrepancy] [nvarchar](200) NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_InventoryCheck] PRIMARY KEY CLUSTERED 
(
	[CheckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairTicket]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairTicket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[RepairDate] [datetime2](7) NULL,
	[ReplacedAssetID] [int] NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_RepairTicket] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[Contact] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseTransaction]    Script Date: 12/31/2025 4:45:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseTransaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[AssetID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[DepartmentID] [int] NULL,
	[UserID] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[ReferenceNo] [nvarchar](100) NULL,
 CONSTRAINT [PK_WarehouseTransaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251223033755_InitialCreate', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Asset] ON 

INSERT [dbo].[Asset] ([AssetID], [AssetName], [Serial], [Model], [AssetTypeID], [Status], [CreatedDate], [PurchaseDate], [Price], [Currency], [SupplierID], [Location], [Config], [QRCode], [WarrantyExpr]) VALUES (2, N'Laptop Dell Vostro 3510', N'SN-FULL-01', N'Vostro 3510', 1, 1, CAST(N'2025-12-23T21:12:24.6466667' AS DateTime2), CAST(N'2023-01-15T00:00:00.0000000' AS DateTime2), CAST(15500000.00 AS Decimal(18, 2)), N'VND', 1, N'Khoa Nội', N'Core i5 1135G7, 8GB RAM', N'QR-SN-FULL-01', CAST(N'2025-01-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Asset] ([AssetID], [AssetName], [Serial], [Model], [AssetTypeID], [Status], [CreatedDate], [PurchaseDate], [Price], [Currency], [SupplierID], [Location], [Config], [QRCode], [WarrantyExpr]) VALUES (3, N'Laptop HP Pavilion 15', N'SN-FULL-02', N'Pavilion 15', 1, 1, CAST(N'2025-12-23T21:12:24.6466667' AS DateTime2), CAST(N'2023-02-20T00:00:00.0000000' AS DateTime2), CAST(14200000.00 AS Decimal(18, 2)), N'VND', 1, N'Khoa Nội', N'Ryzen 5 5500U, 8GB RAM', N'QR-SN-FULL-02', CAST(N'2025-02-20T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Asset] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetAllocation] ON 

INSERT [dbo].[AssetAllocation] ([AllocationID], [AssetID], [DepartmentID], [UserID], [AllocatedDate], [ReturnedDate], [Status], [Note]) VALUES (5, 3, 1, 1, CAST(N'2025-12-24T08:25:08.2627195' AS DateTime2), NULL, 1, N'Cấp phát máy tính đợt 1 cho Khoa Nội')
INSERT [dbo].[AssetAllocation] ([AllocationID], [AssetID], [DepartmentID], [UserID], [AllocatedDate], [ReturnedDate], [Status], [Note]) VALUES (6, 2, 1, 1, CAST(N'2025-12-25T15:14:27.9849418' AS DateTime2), NULL, 1, N'Test cấp phát từ Postman bằng dữ liệu thật')
SET IDENTITY_INSERT [dbo].[AssetAllocation] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetType] ON 

INSERT [dbo].[AssetType] ([AssetTypeID], [TypeName], [Description]) VALUES (1, N'Laptop', N'Máy tính xách tay')
SET IDENTITY_INSERT [dbo].[AssetType] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DeptName], [Code], [ManagerID]) VALUES (1, N'Khoa Nội', N'KN', NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Contact], [Phone]) VALUES (1, N'FPT Trading', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Email], [PasswordHash], [Role], [FullName], [CreatedDate]) VALUES (1, N'admin', N'admin@example.com', N'123456', N'Admin', N'Quản Trị Viên', CAST(N'2025-12-24T08:24:48.2733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_Asset_AssetTypeID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asset_AssetTypeID] ON [dbo].[Asset]
(
	[AssetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Asset_Serial]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Asset_Serial] ON [dbo].[Asset]
(
	[Serial] ASC
)
WHERE ([Serial] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asset_Status]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asset_Status] ON [dbo].[Asset]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asset_SupplierID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asset_SupplierID] ON [dbo].[Asset]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetAllocation_AssetID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetAllocation_AssetID] ON [dbo].[AssetAllocation]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetAllocation_DepartmentID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetAllocation_DepartmentID] ON [dbo].[AssetAllocation]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetAllocation_UserID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetAllocation_UserID] ON [dbo].[AssetAllocation]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLog_UserID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_UserID] ON [dbo].[AuditLog]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Department_ManagerID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Department_ManagerID] ON [dbo].[Department]
(
	[ManagerID] ASC
)
WHERE ([ManagerID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryCheck_AssetID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryCheck_AssetID] ON [dbo].[InventoryCheck]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryCheck_UserID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryCheck_UserID] ON [dbo].[InventoryCheck]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepairTicket_AssetID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_RepairTicket_AssetID] ON [dbo].[RepairTicket]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepairTicket_ReplacedAssetID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_RepairTicket_ReplacedAssetID] ON [dbo].[RepairTicket]
(
	[ReplacedAssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepairTicket_UserID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_RepairTicket_UserID] ON [dbo].[RepairTicket]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Email]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Email] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Username]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Username] ON [dbo].[User]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseTransaction_AssetID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseTransaction_AssetID] ON [dbo].[WarehouseTransaction]
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseTransaction_DepartmentID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseTransaction_DepartmentID] ON [dbo].[WarehouseTransaction]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseTransaction_UserID]    Script Date: 12/31/2025 4:45:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseTransaction_UserID] ON [dbo].[WarehouseTransaction]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [FK_Asset_AssetType_AssetTypeID] FOREIGN KEY([AssetTypeID])
REFERENCES [dbo].[AssetType] ([AssetTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [FK_Asset_AssetType_AssetTypeID]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [FK_Asset_Supplier_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [FK_Asset_Supplier_SupplierID]
GO
ALTER TABLE [dbo].[AssetAllocation]  WITH CHECK ADD  CONSTRAINT [FK_AssetAllocation_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetAllocation] CHECK CONSTRAINT [FK_AssetAllocation_Asset_AssetID]
GO
ALTER TABLE [dbo].[AssetAllocation]  WITH CHECK ADD  CONSTRAINT [FK_AssetAllocation_Department_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetAllocation] CHECK CONSTRAINT [FK_AssetAllocation_Department_DepartmentID]
GO
ALTER TABLE [dbo].[AssetAllocation]  WITH CHECK ADD  CONSTRAINT [FK_AssetAllocation_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[AssetAllocation] CHECK CONSTRAINT [FK_AssetAllocation_User_UserID]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_User_UserID]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_User_ManagerID] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_User_ManagerID]
GO
ALTER TABLE [dbo].[InventoryCheck]  WITH CHECK ADD  CONSTRAINT [FK_InventoryCheck_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryCheck] CHECK CONSTRAINT [FK_InventoryCheck_Asset_AssetID]
GO
ALTER TABLE [dbo].[InventoryCheck]  WITH CHECK ADD  CONSTRAINT [FK_InventoryCheck_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryCheck] CHECK CONSTRAINT [FK_InventoryCheck_User_UserID]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_Asset_AssetID]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_Asset_ReplacedAssetID] FOREIGN KEY([ReplacedAssetID])
REFERENCES [dbo].[Asset] ([AssetID])
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_Asset_ReplacedAssetID]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_User_UserID]
GO
ALTER TABLE [dbo].[WarehouseTransaction]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseTransaction_Asset_AssetID] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Asset] ([AssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseTransaction] CHECK CONSTRAINT [FK_WarehouseTransaction_Asset_AssetID]
GO
ALTER TABLE [dbo].[WarehouseTransaction]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseTransaction_Department_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[WarehouseTransaction] CHECK CONSTRAINT [FK_WarehouseTransaction_Department_DepartmentID]
GO
ALTER TABLE [dbo].[WarehouseTransaction]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseTransaction_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseTransaction] CHECK CONSTRAINT [FK_WarehouseTransaction_User_UserID]
GO
USE [master]
GO
